<div>
  <%= link_to 'アンケート作成', new_question_path, class: 'nav-link' %>
</div>

<h2>アンケート一覧</h2>

<p>ジャンルで絞込</p>
<%= form_tag(questions_path, method: :get) do %>
  <% options = options_from_collection_for_select(Genre.all, :name, :name) %>
  <%= select_tag('search', options, include_blank: true) %>
  <%= submit_tag '検索' %>
<% end %>

<div>
  <% @genres.each do |genre| %>
    <h3 class="genre-title"><%= genre.name %></h3>
    <% genre.questions.each do |q| %>
      <div class="question-content">
        <div>
          <%= link_to question_path(q), class: 'nav-link' do %>
            <%= q.title %>
          <% end  %>
        </div>
        <% if q.user_answered?(current_user) %>
          <div>( 回答数: <%= q.total_ans_cnt %>, <span>回答済み</span> )</div>
        <% else %>
          <div>( 回答数: <%= q.total_ans_cnt %>, <span>未回答</span> )</div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

