<%= form_with model: @question, local: true do |f| %>
  <div class="">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <fieldset>
    <legend>Choices: </legend>
    <%= f.fields_for :choices do |ff| %>
      <%= render 'choice_fields', f: ff %>
    <% end %>
    <%= link_to_add_fields 'Add Choices', f, :choices %>
  </fieldset>

  <div>
    <%= f.collection_radio_buttons :genre, @genres, :id, :name %>
  </div>

  <%= f.submit '登録' %>
<% end %>
