<%= form_with model: @question, local: true do |f| %>
  <% @question.errors.full_messages.each do |msg| %>
    <li class="red-text"><%= msg %></li>
  <% end %>
  <div class="">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <fieldset>
    <legend>選択肢: </legend>
    <%= f.fields_for :choices do |ff| %>
      <%= render 'choice_fields', f: ff %>
    <% end %>
    <%= link_to_add_fields '選択肢を追加する', f, :choices %>
  </fieldset>

  <p>ジャンルを選択する</p>
  <div class="genre-wrapper">
    <%= f.collection_radio_buttons :genre, @genres, :id, :name %>
  </div>

  <p>ジャンルを新規作成する</p>
  <div>
    <%= f.text_field :genre_name %>
  </div>

  <%= f.submit '登録' %>
<% end %>
