<h1>カテゴリー一覧</h1>

<% @categories.each do |category| %>
  <%= link_to category_path(category) do %>
    <%= category.name %>
  <% end %>
<% end %>

<%= form_with model: @category do |f| %>
  <%= f.label(:name) %>
  <%= f.text_field(:name) %>
  <div class="">
    <%= f.fields_for :todos do |ff| %>
      <%= ff.label(:title) %>
      <%= ff.text_field(:title) %>
      <%= ff.label(:content) %>
      <%= ff.text_area(:content) %>
    <% end %>
  </div>

  <%= f.submit "登録" %>
<% end %>