<!DOCTYPE html>
<html>
  <head>
    <title>Something</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://kit.fontawesome.com/7d5912329b.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <% unless flash.empty? %>
      <script type="text/javascript">
        <% flash.each do |name, msg| %>
          <% name = "success" if name == "notice" %>
          <% name = "error" if name == "alert" %>
          toastr['<%= name %>']('<%= msg %>');
        <% end %>
      </script>
    <% end %>
    <%= yield %>
  </body>
</html>
